/* -------CSS RESET ------*/

 {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
} 

/* ------ MAIN STYLING -----*/
body  {
    width: 80%;
    max-width: 760px;
    margin: auto;
    background: #d3cdcd;
    color: #000000;
   
}


/* -------- TYPEOGRAPHY -----*/

h1, h2 {
    font-weight: normal;
    text-align: left;
    font-family: 'Roboto', sans-serif;

}

header h1 {
    font-weight: bold;
    font-size: 4em;
 
}

header p {
    font-family: 'PT Serif', serif;
}


h1 {
    font-size: 2.4em;
    color: #685151;
    margin-top: 1.20em;
}


h2 {
    font-size: 1.649em;
    color: #8b4c4c;
    margin: 3em 0 0.5em 0;
}

p  {
    margin-bottom: 1.2em;
    line-height: 1.2
  
}

p {
    font-family: 'PT Serif', serif;
}

blockquote {

    color: #382b2b;
    text-align: center;
    font-size: 1.1em;
    text-indent:  -0.35m;
    font-weight: bold;

}

cite {
    font-family: 'PT Serif', serif;
}

blockquote cite {
    font-weight: normal;
    font-size: 0.75;
    color: #252525;
}



hr {
    border: 1px solid rgba(87, 43, 43, 0.384);
    border-radius: 6px;
    margin: 0.5cm 0;
    background: #685151e1;
    width:90%;
    margin:auto;
}


/*---- STYLING LINKS ----*/
a {
    color: #da6767e8;
    text-decoration: none;
}
a:hover {
    color: #529fcc;
    border-bottom: 1px dotted;
}


/* ------ NAVIGATION------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #685151e1;
    padding: len 0;
    font-size: 1.2em;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
    -moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.253);
    box-shadow:         2px 2px 2px rgba(0, 0, 0, 0.301);
    z-index:999;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;

}

nav ul li {
        display:inline;
        margin:34.6px;
        background: none;
        width: 100;
    }

nav a {
    color: #d3cdcd
}

nav a:hover {
    border-bottom: none;
    color: #aaac78;
}

/*------ TABLE -------*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
 
}

caption {
    margin: 1.5em 0;
    text-transform: uppercase;
}
th {
    color: #fdfdfd;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: #864936;
}

th, td {
    padding: 0.6em
}

table, td {
    background: #ffffffb9;
    border: 2px solid #d3cdcd

}
/* ------ FOOTER ------*/

footer {
    text-align: center;
    font-size: 0.550;
    font-weight: bolder;
    padding: 5em 0 8em 0;
    color: rgba(20, 20, 20, 0.877) 
}
